<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ notebook.title }}</title>

<body>

<a href="{{ request.path }}.json">
view data as JSON-LD</a>

<h1 class="title" itemprop="name" property="name">{{ notebook.title }}</h1>  

<p class="description" itemprop="description" property="description">{{ notebook.description }}</p>

<p class="from" itemprop="creator" itemscope itemtype="http://schema.org/Person"
   property="creator" typeof="Person">
  <span itemprop="email" property="email">{{ notebook.from }}</span>
</p>

<time itemprop="dateCreated" property="dateCreated"
      datetime="{{ notebook.time }}">{{ notebook.time }}</time>

<form class="notebook-editor" method="put">

  <label>author
    <input name="author" type="text" value="{{notebook.author}}">
  </label>
  <br>
  <label>title
    <input name="title" type="text" value = {{notebook.title}}>
  </label>
  <br>
  <textarea name="description">{{notebook.description}}</textarea>
  <br>

  {% for reference_id in notebook.references %}
    <li>
      <div>
        <a href="{{ url_for('reference', notebook_id=notebook_id, reference_id=reference_id) }}">
          <span itemprop="name" property="name" >{{notebook.references[reference_id].reference}}</span>
        </a>
      </div>
    </li>
  {% endfor %}

  <button class="update" id="update-notebook-button" type="submit">Update</button>
</form>
<script>
    var form = document.querySelector('.notebook-editor');
    var button = document.querySelector('#update-notebook-button');

    button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        alert("doing put");
        request.open('PUT', window.location.pathname);
        request.onreadystatechange = function () {
            if (XMLHttpRequest.DONE === request.readyState
                && 200 === request.status) {
                window.location.reload(true);
            }
        }
        request.send(new FormData(form));
    }, false);
</script>

<a rel="collection" href="{{ url_for('masternotebooklist') }}">all notebooks</a>




</body>
