<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ reference.reference }}</title>

<body>

  <a href="{{ request.path }}.json">
  view data as JSON-LD</a>

  <h1 class="title" itemprop="name" property="name">{{ reference.title }}</h1>  

  <p class="comment" itemprop="comment" property="comment">{{ reference.comment }}</p>

  <div>
     <span>Reference URL: <a rel="link" href="{{reference.link}}">{{reference.link}}</a></span>
  </div>

	<h2>Update the Reference</h2>
  
  <form class="reference-editor" method="put">

    <label>Reference Title
      <input name="reference" type="text" value="{{reference.reference}}">
    </label>
    <br>
    <label>Reference URL
      <input name="link" type="text" value = {{reference.link}}>
    </label>
    <br>
    <textarea name="comment">{{reference.comment}}</textarea>
    <br>

    <button class="update" id="update-reference-button" type="submit">Update</button>
  </form>

  <script>
    var form = document.querySelector('.reference-editor');
    var button = document.querySelector('#update-reference-button');

    button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        alert("doing put");
        request.open('PUT', window.location.pathname);
        request.onreadystatechange = function () {
            if (XMLHttpRequest.DONE === request.readyState
                && 200 === request.status) {
                window.location.reload(true);
            }
        }
        request.send(new FormData(form));
    }, false);
  </script>
 
  <br>
  <a rel="resource" href="{{ url_for('notebook', notebook_id=notebook_id) }}">Return to Notebook</a>


</body>
