<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ reference.title }}</title>

<body>

  <a rel="alternate" href="{{ request.path }}.json">
  view data as JSON-LD</a>

  <h1 class="title" itemprop="name" property="name">Reference Title: {{ reference.title }}</h1>  


  <p class="description" itemprop="description" property="description">Reference Description: {{ reference.description }}</p>

  <div>
     <span>Reference URL: <a rel="url" href="{{reference.link}}">{{reference.link}}</a></span>
  </div>

	<h4>Update the Reference</h4>
  <form class="reference-editor" method="put">

    <label>Reference Title
      <input name="title" type="text" value="{{reference.title}}">
    </label>
    <br>
    <label>Reference URL
      <input name="link" type="text" value = {{reference.link}}>
    </label>
    <br>
    <textarea name="description">{{reference.description}}</textarea>
    <br>

    <button class="update" id="update-reference-button" type="submit">Update</button>
  </form>

  <script>
    var form = document.querySelector('.reference-editor');
    var button = document.querySelector('#update-reference-button');

    button.addEventListener('click', function (event) {
        event.preventDefault();
        var request = new XMLHttpRequest();
        request.open('PUT', window.location.pathname);
        request.onreadystatechange = function () {
            if (XMLHttpRequest.DONE === request.readyState
                && 200 === request.status) {
                window.location.reload(true);
            }
        }
        request.send(new FormData(form));
    }, false);
  </script>
 
  <br>
  <a rel="collection" href="{{ url_for('notebook', notebook_id=notebook_id) }}">Return to Notebook</a>


</body>
